<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="employee" class = "model.Employee" />
    <bean id="manager"  class= "org.example.model.Manager">
        <property name="managerName" value="Rohit"/>
        <property name="managerId" value= "12"/>
        <property name="emp1" ref="employee" />
    </bean>
</beans>

